<!-- <h1>Hola mundo</h1>

<div>
  <h1>idgs 902</h1>
</div>
<div>
  {{title}}
</div>
<div>
  la suma de 2+2 es: {{2+2}}
</div>
<div>
  El doble de 3 es: {{duplicaN(3)}}
</div>
<div>
  <h1>Matrícula:</h1>{{alumno.matricula}}
</div>
<div>
  <h1>Nombre:</h1>{{alumno.nombre|lowercase}}
</div>
<div>
  <h1>Apaterno:</h1>{{alumno.apaterno|uppercase}}
</div>
<div>
  <h1>Inscrito:</h1>{{alumno.Inscrito}}
</div>
<div>
  <h1>Fecha:</h1>{{alumno.fechaNacimiento| date:"dd-MM-yy"}}
</div>
<div>
  <app-grupos></app-grupos>
</div>
<hr>
<div>
  <app-idgs></app-idgs>
</div>
<hr> -->
<app-menu>
</app-menu>
<div class="container">
  <div class="row">
    <app-suma>
    </app-suma>
  </div>
</div>
