
<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">X1</label>
            <input [(ngModel)]="X1" class="form-control" name="X1" placeholder="X1">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Y1</label>
            <input [(ngModel)]="Y1" class="form-control" name="Y1" placeholder="Y1">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">X2</label>
            <input [(ngModel)]="X2" class="form-control" name="X2" placeholder="X2">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Y2</label>
            <input [(ngModel)]="Y2" class="form-control" name="Y2" placeholder="Y2">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="sumar()">Calcular</button>
        </div>
    </div>
    <div class="col-4">
        <h3>La suma es: {{resultado}}</h3>
    </div>
</div>